{% extends 'base.html.twig' %}

{% block title %}Louer{% endblock %}

{% block body %}
    <h1>Louer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ louer.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_louer_index') }}">back to list</a>

    <a href="{{ path('app_louer_edit', {'id': louer.id}) }}">edit</a>

    {{ include('louer/_delete_form.html.twig') }}
{% endblock %}
